body {
  overflow: hidden;
}

.App {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-wrap {
  width: 20%;
  text-align: right;
  height: 100vh;
  background: grey;
  color: white;
  float: left;
}

.display-wrap {
  width: 80%;
  background: darkgrey;
  height: 100vh;
  overflow: scroll;
  display: inline-block;
  position: relative;
  padding:20px 0 10px;
  box-sizing: border-box;
}

.method-card {
  width: 35%;
  border-radius: 20px;
  background-color: rgb(80, 71, 71);
  padding: 10px 3% 25px;
  margin: 25px 4%;
  color: white;
  float: left;
  height: 300px;
  position:relative;
}

.method-card-active {
  width: 74%;
  background-color: rgb(80, 71, 71);
  padding: 25px 3%;
  margin: 0 20% 0;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
}

.card-icon {
  font-size: 20px;
  padding: 15px 20px;
  font-weight: 800;
  background: #b57b7b;
  position: absolute;
  top: -25px;
  border-radius: 10px;
  ;
}

.close-button {
  display: block;
  position:absolute;
  right:5%;
  top:3%;
  background:#ce2d2d91;
  border-radius: 50%;
  font-weight:600;
  font-size: 15px;
  width: 30px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hide {
  display: none;
}

.divider {
  width: 70%;
  border-bottom: 1px solid darkgrey;
  margin: -15px auto 0;
}

.copyright {
  font-size: 14px;
  margin-top:15px;
  text-align:right; 
  margin-right: 6%;
  color:#555;
}